.footerSize{
    display:flex;
    height: 100%
}

.children{
    display: inline-block;
    align-self: flex-end;
}

.footerText{
    color: #e9efec;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.footerText:hover{
    color: #e9efec8f;
}